body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    font-family: Arial sans-serif;
    color: #000;
    background-color: cornflowerblue;
}

h2 {
    margin: 0;
}

ul {
    list-style: none;
    padding: 0;
    margin: 20px 0 0;
}

.container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.container_item {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #000;
    border-radius: 8px;
    width: 400px;
    min-height: 400px;
    max-height: 400px;
    overflow: auto;
    box-sizing: border-box;
}

.instances {
    margin-right: 30px;
}

.instances_list li {
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 10px;
}

.instances_item_status, .instances_item_actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.item_status_icon {
    margin: 0 10px;
}

.item_status_icon.running {
    color: chartreuse;
}

.item_actions_icon {
    width: 40px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.btn_instance_create {
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
}

.actions_icon {
    cursor: pointer;
}

.btn_instance_create:hover, .play:hover, .pause:hover {
    color: cornflowerblue;
}

.delete:hover {
    color: crimson;
}

.worklog_item {
    margin-bottom: 10px;
}

.worklog_item_date {
    margin-bottom: 10px;
}

.item_info {
    text-transform: uppercase;
}